#todo-container {
  --font-size: 36px;

  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  transition: opacity linear 0.8s;
}
#todo-container h3 {
  font-size: var(--font-size);
  font-weight: 500;
}
#todo-container > div {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
#todo-container input {
  font-size: var(--font-size);
  font-weight: 500;
}

#todo-list {
  width: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@keyframes add {
  to {
    opacity: 1;
  }
}
.todo-item {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0;
  animation: add 0.5s linear forwards;
  font-size: var(--font-size);
}

.todo-item__checkbox {
  all: unset;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
}
.todo-item__checkbox:active {
  opacity: 0.5;
}

.todo-item__text--done {
  text-decoration: line-through;
}
