@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

@import "reset.css";
@import "components/hidden.css";
@import "components/text-input.css";
@import "components/todo.css";
@import "components/weather.css";

:root {
  --transition-hidden: opacity linear 0.8s;
}

body {
  height: 100vh;
  background-image: url(https://source.unsplash.com/random);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  font-weight: 600;
  text-shadow: 0px 0px 40px black;
}

#container {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 120px;
  font-weight: 600;
}

#name-container {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#name-container h2 {
  font-size: 48px;
}

#asking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  transition: var(--transition-hidden);
}

#greeting {
  position: absolute;
  transition: var(--transition-hidden);
}
